Setup Jupyter Notebook kernel for SLO data analysis.<br>

In [4]:
import logging as log
import warnings
import time
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

# Import custom utility functions.
import slo_twitter_data_analysis_utility_functions_v2 as tweet_util_v2

#############################################################
# Adjust parameters to display all contents.
pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.options.display.width = None
pd.options.display.max_colwidth = 1000
# Seaborn setting.
sns.set()
# Set level of precision for float value output.
pd.set_option('precision', 12)
# Ignore these types of warnings - don't output to console.
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
# Matplotlib log settings.
mylog = log.getLogger("matplotlib")
mylog.setLevel(log.INFO)

"""
Turn debug log statements for various sections of code on/off.
(adjust log level as necessary)
"""
log.basicConfig(level=log.INFO)


# Import CSV dataset and convert to dataframe.
tweet_dataframe = tweet_util_v2.import_dataset(
    "D:/Dropbox/summer-research-2019/jupyter-notebooks/attribute-datasets/"
    "twitter-dataset-6-22-19-fixed.csv",
    "csv", False)

d:\dropbox\cs344-ai\venv3.6-64bit\lib\site-packages\IPython\core\interactiveshell.py:3209: DtypeWarning: Columns (36,48) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

# SLO Twitter Data Analysis  - Pandas.describe() and Nan/Non-NaN Values

### Define necessary attribute/field names for data analysis functions below:

<span style="font-family:Papyrus; font-size:1.25em;">

These Lists containing the attribute/column names in our CSV dataset are necessary for the two data analysis functions below.  These were copy/pasted from our "dataset_processor.adapted.py" Python file which contains the codebase to construct the CSV dataset from the raw JSON dataset.<br>

</span>

In [9]:
    # Original Tweet object attribute names present in raw JSON file.
    original_tweet_object_field_names = [
        'created_at', 'id', 'full_text', 'in_reply_to_status_id', 'in_reply_to_user_id',
        'in_reply_to_screen_name', 'retweet_count', 'favorite_count', 'lang']

    # Names to rename main Tweet object attributes.
    tweet_object_fields = [
        'tweet_created_at', 'tweet_id', 'tweet_full_text', 'tweet_in_reply_to_status_id',
        'tweet_in_reply_to_user_id', 'tweet_in_reply_to_screen_name', 'tweet_retweet_count',
        'tweet_favorite_count', 'tweet_lang']

    # Names to give "user" object attributes.
    user_object_fields = [
        'user_id', 'user_name', 'user_screen_name', 'user_location', 'user_description',
        'user_followers_count', 'user_friends_count', 'user_listed_count', 'user_favourites_count',
        'user_statuses_count', 'user_created_at', 'user_time_zone', 'user_lang']

    # Names to give "entities" object attributes.
    entities_object_fields = [
        "tweet_entities_expanded_urls", "tweet_entities_hashtags", "tweet_entities_user_mentions_id",
        "tweet_entities_user_mentions_name", "tweet_entities_user_mentions_screen_name",
        "tweet_entities_symbols"]

    # Names to give "retweeted_status" object attributes.
    retweeted_status_object_fields = [
        'retweeted_status_created_at', 'retweeted_status_id', 'retweeted_status_full_text',
        'retweeted_status_in_reply_to_status_id', 'retweeted_status_in_reply_to_user_id',
        'retweeted_status_in_reply_to_screen_name', 'retweeted_status_retweet_count',
        'retweeted_status_favorite_count', 'retweeted_status_lang',
        'retweeted_status_entities',
        'retweeted_status_user', 'retweeted_status_coordinates', 'retweeted_status_place']

    # Names to give "user" object attributes.
    retweeted_status_user_object_fields = [
        'retweeted_status_user_id', 'retweeted_status_user_name', 'retweeted_status_user_screen_name',
        'retweeted_status_user_location', 'retweeted_status_user_description', 'retweeted_status_user_followers_count',
        'retweeted_status_user_friends_count', 'retweeted_status_user_listed_count',
        'retweeted_status_user_favourites_count', 'retweeted_status_user_statuses_count',
        'retweeted_status_user_created_at', 'retweeted_status_user_time_zone', 'retweeted_status_user_lang']

    # Modify these to determine what to export to CSV.
    required_fields = ['retweeted_derived', 'company_derived', 'text_derived',  # "tweet_quoted_status_id",
                       'tweet_url_link_derived', 'multiple_companies_derived_count', "company_derived_designation",
                       'tweet_text_length_derived', "spaCy_language_detect", "user_description_text_length"] \
                      + tweet_object_fields + user_object_fields + entities_object_fields \
                      + retweeted_status_object_fields

### Pandas.describe() Analysis for Twitter dataset:

<span style="font-family:Papyrus; font-size:1.25em;">

Here, we output statistics for each attribute/column in the entire CSV dataset.<br>

</span>

In [10]:
def attribute_describe(input_file_path, attribute_name_list, file_type):
    """
    Function utilizes Pandas "describe" function to return dataframe statistics.

    https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/

    Note: This function will not work for attributes whose values are "objects" themselves.
    (can only be numeric type or string)

    :param input_file_path: absolute file path of the dataset in CSV or JSON format.
    :param attribute_name_list:  list of names of the attributes we are analyzing.
    :param file_type: type of input file. (JSON or CSV)
    :return: None.
    """
    start_time = time.time()

    if file_type == "csv":
        twitter_data = pd.read_csv(f"{input_file_path}", sep=",", encoding="ISO-8859-1", dtype=object)
    elif file_type == "json":
        twitter_data = pd.read_json(f"{input_file_path}", orient='records', lines=True)
    else:
        print(f"Invalid file type entered - aborting operation")
        return

    # Create a empty Pandas dataframe.
    dataframe = pd.DataFrame(twitter_data)

    if len(attribute_name_list) > 0:
        for attribute_name in attribute_name_list:
            print(f"\nPandas describe() for \"{attribute_name}\":\n")
            print(dataframe[attribute_name].describe(include='all'))
    else:
        print(f"\nPandas describe() for the entire dataframe/dataset:\n")
        print(dataframe.describe(include='all'))

    end_time = time.time()
    time_elapsed_seconds = end_time - start_time
    time_elapsed_minutes = (end_time - start_time) / 60.0
    time_elapsed_hours = (end_time - start_time) / 60.0 / 60.0
    log.debug(f"The time taken to visualize the statistics is {time_elapsed_seconds} seconds, "
              f"{time_elapsed_minutes} minutes, {time_elapsed_hours} hours")

<span style="font-family:Papyrus; font-size:1.25em;">

The usual data analysis function call.<br>

</span>

In [11]:
    # Analyze full-text.
    attribute_describe(
        "D:/Dropbox/summer-research-2019/jupyter-notebooks/attribute-datasets/twitter-dataset-6-22-19-fixed.csv",
        required_fields, "csv")

Pandas describe() for "retweeted_derived":

count     670426
unique         2
top         TRUE
freq      446177
Name: retweeted_derived, dtype: object

Pandas describe() for "company_derived":

count     669369
unique        92
top        adani
freq      431022
Name: company_derived, dtype: object

Pandas describe() for "text_derived":

count                                                                                                                                                              670426
unique                                                                                                                                                             337228
top       RT @AdamBandt: RT if you want Labor &amp; Bill Shorten to stop Adani coal mega-mine by announcing they'll halt the project if they win next election #StopAdani
freq                                                                                                                                                                  769
Name: text_derived, dtype: object

Pandas describe() for "tweet_url_link_derived":

count                                              670426
unique                                             670422
top       https://twitter.com/-/status/405078696983146496
freq                                                    2
Name: tweet_url_link_derived, dtype: object

Pandas describe() for "multiple_companies_derived_count":

count     670426
unique         6
top            1
freq      662148
Name: multiple_companies_derived_count, dtype: object

Pandas describe() for "company_derived_designation":

count     669369
unique        12
top        adani
freq      431022
Name: company_derived_designation, dtype: object

Pandas describe() for "tweet_text_length_derived":

count     670426
unique       984
top          140
freq       14055
Name: tweet_text_length_derived, dtype: object

Pandas describe() for "spaCy_language_detect":

count     670426
unique        33
top           en
freq      647164
Name: spaCy_language_detect, dtype: object

Pandas describe() for "user_description_text_length":

count     670426
unique       254
top            0
freq       44992
Name: user_description_text_length, dtype: object

Pandas describe() for "tweet_created_at":

count              670426
unique             417544
top       10/2/2017 10:21
freq                  117
Name: tweet_created_at, dtype: object

Pandas describe() for "tweet_id":

count          670426
unique         235711
top       9.14797E+17
freq              389
Name: tweet_id, dtype: object

Pandas describe() for "tweet_full_text":

count                                                                                                                                                 670426
unique                                                                                                                                                335750
top       RT @AdamBandt: RT if you want Labor &amp; Bill Shorten to stop Adani coal mega-mine by announcing they'll halt the project if they win next eleâ¦
freq                                                                                                                                                     769
Name: tweet_full_text, dtype: object

Pandas describe() for "tweet_in_reply_to_status_id":

count        39512
unique         680
top       9.15E+17
freq           833
Name: tweet_in_reply_to_status_id, dtype: object

Pandas describe() for "tweet_in_reply_to_user_id":

count         47013
unique         9978
top       256833444
freq           1465
Name: tweet_in_reply_to_user_id, dtype: object

Pandas describe() for "tweet_in_reply_to_screen_name":

count            47013
unique           10543
top       AnnastaciaMP
freq              1465
Name: tweet_in_reply_to_screen_name, dtype: object

Pandas describe() for "tweet_retweet_count":

count     670426
unique      1189
top            0
freq      142183
Name: tweet_retweet_count, dtype: object

Pandas describe() for "tweet_favorite_count":

count     670426
unique       391
top            0
freq      581504
Name: tweet_favorite_count, dtype: object

Pandas describe() for "tweet_lang":

count     670426
unique        39
top           en
freq      642619
Name: tweet_lang, dtype: object

Pandas describe() for "user_id":

count         670426
unique         38105
top       2908699057
freq            6844
Name: user_id, dtype: object

Pandas describe() for "user_name":

count                                                      670426
unique                                                      36464
top       WGAR NewsÃ­Â Â½Ã­Â±Â£ #AboriginalRights AltMediaMonitor
freq                                                         6844
Name: user_name, dtype: object

Pandas describe() for "user_screen_name":

count       670426
unique       38107
top       WgarNews
freq          6844
Name: user_screen_name, dtype: object

Pandas describe() for "user_location":

count        578036
unique         8399
top       Australia
freq         114940
Name: user_location, dtype: object

Pandas describe() for "user_description":

count                                                                                                                                                           625434
unique                                                                                                                                                           34483
top       #AboriginalTreaties #AboriginalTalk Working Group 4 #AboriginalRights: #AltMedia, giving priority to grassroots #Aboriginal & #Solidarity VoicesÃ­Â Â½Ã­Â±Â£
freq                                                                                                                                                              6844
Name: user_description, dtype: object

Pandas describe() for "user_followers_count":

count     670426
unique      8704
top         4807
freq        5939
Name: user_followers_count, dtype: object

Pandas describe() for "user_friends_count":

count     670426
unique      5441
top         3513
freq        5966
Name: user_friends_count, dtype: object

Pandas describe() for "user_listed_count":

count     670426
unique      1176
top            0
freq       11084
Name: user_listed_count, dtype: object

Pandas describe() for "user_favourites_count":

count     670426
unique     15689
top            0
freq       12799
Name: user_favourites_count, dtype: object

Pandas describe() for "user_statuses_count":

count     670426
unique     24364
top       184947
freq        5965
Name: user_statuses_count, dtype: object

Pandas describe() for "user_created_at":

count                             670426
unique                             38101
top       Mon Nov 24 03:56:26 +0000 2014
freq                                6844
Name: user_created_at, dtype: object

Pandas describe() for "user_time_zone":

count     670404
unique       125
top       Sydney
freq      206821
Name: user_time_zone, dtype: object

Pandas describe() for "user_lang":

count     670426
unique        30
top           en
freq      639239
Name: user_lang, dtype: object

Pandas describe() for "tweet_entities_expanded_urls":

count                     255101
unique                    121237
top       http://wp.me/p2WW3S-Gg
freq                         956
Name: tweet_entities_expanded_urls, dtype: object

Pandas describe() for "tweet_entities_hashtags":

count        367220
unique        53472
top       StopAdani
freq          32203
Name: tweet_entities_hashtags, dtype: object

Pandas describe() for "tweet_entities_user_mentions_id":

count     670426
unique     75671
top           []
freq      135073
Name: tweet_entities_user_mentions_id, dtype: object

Pandas describe() for "tweet_entities_user_mentions_name":

count                  535353
unique                  75182
top       HRH Terry Australis
freq                    13349
Name: tweet_entities_user_mentions_name, dtype: object

Pandas describe() for "tweet_entities_user_mentions_screen_name":

count             535353
unique             75671
top       AustralisTerry
freq               13349
Name: tweet_entities_user_mentions_screen_name, dtype: object

Pandas describe() for "tweet_entities_symbols":

count     11340
unique     1911
top         BHP
freq       2817
Name: tweet_entities_symbols, dtype: object

Pandas describe() for "retweeted_status_created_at":

count                             445533
unique                            115801
top       Tue Jun 06 01:21:36 +0000 2017
freq                                 769
Name: retweeted_status_created_at, dtype: object

Pandas describe() for "retweeted_status_id":

count       445533
unique         701
top       9.15E+17
freq         14912
Name: retweeted_status_id, dtype: object

Pandas describe() for "retweeted_status_full_text":

count                                                                                                                                               445533
unique                                                                                                                                              115119
top       RT if you want Labor &amp; Bill Shorten to stop Adani coal mega-mine by announcing they'll halt the project if they win next election #StopAdani
freq                                                                                                                                                   769
Name: retweeted_status_full_text, dtype: object

Pandas describe() for "retweeted_status_in_reply_to_status_id":

count        34381
unique         612
top       9.40E+17
freq           998
Name: retweeted_status_in_reply_to_status_id, dtype: object

Pandas describe() for "retweeted_status_in_reply_to_user_id":

count          39979
unique          3601
top       2908699057
freq            2255
Name: retweeted_status_in_reply_to_user_id, dtype: object

Pandas describe() for "retweeted_status_in_reply_to_screen_name":

count        39979
unique        3771
top       WgarNews
freq          2255
Name: retweeted_status_in_reply_to_screen_name, dtype: object

Pandas describe() for "retweeted_status_retweet_count":

count     445533
unique      1189
top            1
freq       21540
Name: retweeted_status_retweet_count, dtype: object

Pandas describe() for "retweeted_status_favorite_count":

count     445533
unique      1183
top            1
freq       24695
Name: retweeted_status_favorite_count, dtype: object

Pandas describe() for "retweeted_status_lang":

count     445533
unique        35
top           en
freq      434434
Name: retweeted_status_lang, dtype: object

Pandas describe() for "retweeted_status_entities":

count                                                               445533
unique                                                              109775
top       {'urls': [], 'hashtags': [], 'user_mentions': [], 'symbols': []}
freq                                                                 15698
Name: retweeted_status_entities, dtype: object

Pandas describe() for "retweeted_status_user":

count                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      445533
unique                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      22254
top       {'utc_offset': 36000, 'friends_count': 652, 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/913263462452666368/rpPxE34o_normal.jpg', 'listed_count': 49, 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'default_profile_image': False, 'favourites_count': 1758, 'description': 'The official Twitter account of the #StopAdani campaign.', 'created_at': 'Mon Nov 21 03:15:12 +0000 2016', 'is_translator': False, 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'protected': False, 'screen_name': 'stopadani', 'id_str': '800538022273896448', 'profile_link_color': 'ABB8C2', 'is_translation_enabled': False, 'translator_type': 'none', 'id': 800538022273896448, 'geo_enabled': True, 'profile_background_color': '000000', 'lang': 'en', 'has_extended_profile': False, 'profile_sidebar_border_color': '000000', 'profile_text_color': '000000', 'verified': False, 'profile_image_url': 'http://pbs.twimg.com/profile_...
freq                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        11905
Name: retweeted_status_user, dtype: object

Pandas describe() for "retweeted_status_coordinates":

count                                                               690
unique                                                              266
top       {'coordinates': [150.6370939, -31.37938279], 'type': 'Point'}
freq                                                                 66
Name: retweeted_status_coordinates, dtype: object

Pandas describe() for "retweeted_status_place":

count                                                                                                                                                                                                                                                                                                                                                                                                                                                          17956
unique                                                                                                                                                                                                                                                                                                                                                                                                                                                           449
top       {'country_code': 'AU', 'country': 'Australia', 'contained_within': [], 'full_name': 'Cairns, Queensland', 'bounding_box': {'coordinates': [[[145.650457088, -17.038658997], [145.783431648, -17.038658997], [145.783431648, -16.7223939305], [145.650457088, -16.7223939305]]], 'type': 'Polygon'}, 'place_type': 'city', 'name': 'Cairns', 'attributes': {}, 'id': '00c262dc7a56fb4e', 'url': 'https://api.twitter.com/1.1/geo/id/00c262dc7a56fb4e.json'}
freq                                                                                                                                                                                                                                                                                                                                                                                                                                                            4899
Name: retweeted_status_place, dtype: object

<span style="font-family:Papyrus; font-size:1.25em;">

The statistics displayed depend on the type of data present as values for each attribute.  For numerical data, we get count, mean, std, min, percentiles, and max.  For categorical data, we get count, unique, top, and frequency.<Br>

</span>

### NaN versus non-Nan Counts for each Attribute in the Twitter dataset:

<span style="font-family:Papyrus; font-size:1.25em;">

This function displays statistics that count the # of rows/examples in the dataset that are NaN or non-Nan using the Pandas ".isnull().sum()" function chain.<br>

</span>

In [12]:
def count_nan_non_nan(input_file_path, attribute_name_list, file_type):
    """
    Function counts the number of NaN and non-Nan examples in a Pandas dataframe for the specified columns.

    :param input_file_path: absolute file path of the dataset in CSV or JSON format.
    :param attribute_name_list:  list of names of the attributes we are analyzing.
    :param file_type: type of input file. (JSON or CSV)
    :return: None.
    """
    start_time = time.time()

    if file_type == "csv":
        twitter_data = pd.read_csv(f"{input_file_path}", sep=",", encoding="ISO-8859-1", dtype=object)
    elif file_type == "json":
        twitter_data = pd.read_json(f"{input_file_path}", orient='records', lines=True)
    else:
        print(f"Invalid file type entered - aborting operation")
        return

    # Create a empty Pandas dataframe.
    dataframe = pd.DataFrame(twitter_data)

    number_examples = dataframe.shape[0]
    number_attributes = dataframe.shape[1]
    print(f"\nThe number of rows (examples) in the dataframe is {number_examples}")
    print(f"The number of columns (attributes) in the dataframe is {number_attributes}\n")

    for attribute_name in attribute_name_list:
        null_examples = dataframe[attribute_name].isnull().sum()
        non_null_examples = number_examples - null_examples

        print(f"The number of NaN rows for \"{attribute_name}\" is {null_examples}")
        print(f"The number of non-NaN rows for \"{attribute_name}\" is {non_null_examples}\n")

    end_time = time.time()
    time_elapsed_seconds = end_time - start_time
    time_elapsed_minutes = (end_time - start_time) / 60.0
    time_elapsed_hours = (end_time - start_time) / 60.0 / 60.0
    log.debug(f"The time taken to visualize the statistics is {time_elapsed_seconds} seconds, "
              f"{time_elapsed_minutes} minutes, {time_elapsed_hours} hours")

<span style="font-family:Papyrus; font-size:1.25em;">

The usual data analysis function call.<br>

</span>

In [13]:
    # Determine the number of NaN and non-NaN rows for a attribute in a dataset.
    count_nan_non_nan(
        "D:/Dropbox/summer-research-2019/jupyter-notebooks/attribute-datasets/twitter-dataset-6-22-19-fixed.csv",
        required_fields, "csv")

The number of rows (examples) in the dataframe is 670426
The number of columns (attributes) in the dataframe is 50

The number of NaN rows for "retweeted_derived" is 0
The number of non-NaN rows for "retweeted_derived" is 670426

The number of NaN rows for "company_derived" is 1057
The number of non-NaN rows for "company_derived" is 669369

The number of NaN rows for "text_derived" is 0
The number of non-NaN rows for "text_derived" is 670426

The number of NaN rows for "tweet_url_link_derived" is 0
The number of non-NaN rows for "tweet_url_link_derived" is 670426

The number of NaN rows for "multiple_companies_derived_count" is 0
The number of non-NaN rows for "multiple_companies_derived_count" is 670426

The number of NaN rows for "company_derived_designation" is 1057
The number of non-NaN rows for "company_derived_designation" is 669369

The number of NaN rows for "tweet_text_length_derived" is 0
The number of non-NaN rows for "tweet_text_length_derived" is 670426

The number of NaN rows for "spaCy_language_detect" is 0
The number of non-NaN rows for "spaCy_language_detect" is 670426

The number of NaN rows for "user_description_text_length" is 0
The number of non-NaN rows for "user_description_text_length" is 670426

The number of NaN rows for "tweet_created_at" is 0
The number of non-NaN rows for "tweet_created_at" is 670426

The number of NaN rows for "tweet_id" is 0
The number of non-NaN rows for "tweet_id" is 670426

The number of NaN rows for "tweet_full_text" is 0
The number of non-NaN rows for "tweet_full_text" is 670426

The number of NaN rows for "tweet_in_reply_to_status_id" is 630914
The number of non-NaN rows for "tweet_in_reply_to_status_id" is 39512

The number of NaN rows for "tweet_in_reply_to_user_id" is 623413
The number of non-NaN rows for "tweet_in_reply_to_user_id" is 47013

The number of NaN rows for "tweet_in_reply_to_screen_name" is 623413
The number of non-NaN rows for "tweet_in_reply_to_screen_name" is 47013

The number of NaN rows for "tweet_retweet_count" is 0
The number of non-NaN rows for "tweet_retweet_count" is 670426

The number of NaN rows for "tweet_favorite_count" is 0
The number of non-NaN rows for "tweet_favorite_count" is 670426

The number of NaN rows for "tweet_lang" is 0
The number of non-NaN rows for "tweet_lang" is 670426

The number of NaN rows for "user_id" is 0
The number of non-NaN rows for "user_id" is 670426

The number of NaN rows for "user_name" is 0
The number of non-NaN rows for "user_name" is 670426

The number of NaN rows for "user_screen_name" is 0
The number of non-NaN rows for "user_screen_name" is 670426

The number of NaN rows for "user_location" is 92390
The number of non-NaN rows for "user_location" is 578036

The number of NaN rows for "user_description" is 44992
The number of non-NaN rows for "user_description" is 625434

The number of NaN rows for "user_followers_count" is 0
The number of non-NaN rows for "user_followers_count" is 670426

The number of NaN rows for "user_friends_count" is 0
The number of non-NaN rows for "user_friends_count" is 670426

The number of NaN rows for "user_listed_count" is 0
The number of non-NaN rows for "user_listed_count" is 670426

The number of NaN rows for "user_favourites_count" is 0
The number of non-NaN rows for "user_favourites_count" is 670426

The number of NaN rows for "user_statuses_count" is 0
The number of non-NaN rows for "user_statuses_count" is 670426

The number of NaN rows for "user_created_at" is 0
The number of non-NaN rows for "user_created_at" is 670426

The number of NaN rows for "user_time_zone" is 22
The number of non-NaN rows for "user_time_zone" is 670404

The number of NaN rows for "user_lang" is 0
The number of non-NaN rows for "user_lang" is 670426

The number of NaN rows for "tweet_entities_expanded_urls" is 415325
The number of non-NaN rows for "tweet_entities_expanded_urls" is 255101

The number of NaN rows for "tweet_entities_hashtags" is 303206
The number of non-NaN rows for "tweet_entities_hashtags" is 367220

The number of NaN rows for "tweet_entities_user_mentions_id" is 0
The number of non-NaN rows for "tweet_entities_user_mentions_id" is 670426

The number of NaN rows for "tweet_entities_user_mentions_name" is 135073
The number of non-NaN rows for "tweet_entities_user_mentions_name" is 535353

The number of NaN rows for "tweet_entities_user_mentions_screen_name" is 135073
The number of non-NaN rows for "tweet_entities_user_mentions_screen_name" is 535353

The number of NaN rows for "tweet_entities_symbols" is 659086
The number of non-NaN rows for "tweet_entities_symbols" is 11340

The number of NaN rows for "retweeted_status_created_at" is 224893
The number of non-NaN rows for "retweeted_status_created_at" is 445533

The number of NaN rows for "retweeted_status_id" is 224893
The number of non-NaN rows for "retweeted_status_id" is 445533

The number of NaN rows for "retweeted_status_full_text" is 224893
The number of non-NaN rows for "retweeted_status_full_text" is 445533

The number of NaN rows for "retweeted_status_in_reply_to_status_id" is 636045
The number of non-NaN rows for "retweeted_status_in_reply_to_status_id" is 34381

The number of NaN rows for "retweeted_status_in_reply_to_user_id" is 630447
The number of non-NaN rows for "retweeted_status_in_reply_to_user_id" is 39979

The number of NaN rows for "retweeted_status_in_reply_to_screen_name" is 630447
The number of non-NaN rows for "retweeted_status_in_reply_to_screen_name" is 39979

The number of NaN rows for "retweeted_status_retweet_count" is 224893
The number of non-NaN rows for "retweeted_status_retweet_count" is 445533

The number of NaN rows for "retweeted_status_favorite_count" is 224893
The number of non-NaN rows for "retweeted_status_favorite_count" is 445533

The number of NaN rows for "retweeted_status_lang" is 224893
The number of non-NaN rows for "retweeted_status_lang" is 445533

The number of NaN rows for "retweeted_status_entities" is 224893
The number of non-NaN rows for "retweeted_status_entities" is 445533

The number of NaN rows for "retweeted_status_user" is 224893
The number of non-NaN rows for "retweeted_status_user" is 445533

The number of NaN rows for "retweeted_status_coordinates" is 669736
The number of non-NaN rows for "retweeted_status_coordinates" is 690

The number of NaN rows for "retweeted_status_place" is 652470
The number of non-NaN rows for "retweeted_status_place" is 17956

<span style="font-family:Papyrus; font-size:1.25em;">

The attribute name is in double quotations.  Each pair of lines in between a blank line is the statistics for a single attribute.<br>

</span>

## Resources Used:

<span style="font-family:Papyrus; font-size:1.25em;">

**TODO: convert to annotated bibliography**

Dataset Files (obtained from Borg supercomputer):<br>

dataset_slo_20100101-20180510.json<br>
dataset_20100101-20180510.csv<br>

Note: These are large fiels not included in the project GitHub Repository.<br>


- [SLO-analysis.ipynb](SLO-analysis.ipynb)<br>
    -original SLO Twitter data analysis file from Shuntaro Yada.<br>


- https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/intro-to-tweet-json<br>
    -explanation of all data fields in JSON file format for Tweets.<br>


- https://datatofish.com/export-dataframe-to-csv/<br>
- https://datatofish.com/export-pandas-dataframe-json/<br>
    -saving Pandas dataframe to CSV/JSON<br>
    

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html<br>
    -Pandas to_datetime() function call.<br>
    

- https://www.machinelearningplus.com/plots/matplotlib-tutorial-complete-guide-python-plot-examples/<br>
    -plotting with matplotlib.<br>


</span>

## TODO's:

<span style="font-family:Papyrus; font-size:1.25em;">

Implement further elements from Shuntaro Yada's SLO Twitter Dataset Analysis.<br>

</span>